* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background: #fdfdfd;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
}

p {
	font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 200;
}

button {
	outline: none;
	border: none;
	background: none;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 2rem;
	overflow: hidden;
}

@media screen and (max-width: 700px) {
	*:hover {
		background: none;
		color: none;
	}

	.container {
		padding: 1rem 2rem;
	}
}
