.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.portfolio h1 {
	font-size: 1.8rem;
	padding: 0 0 4rem 0;
}

.portfolio h1 span {
	text-decoration: underline;
}
