.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 2rem 0;
}

.portfolio h1 {
	font-size: 1.8rem;
	padding: 2rem;
}

.portfolio h1 span {
	text-decoration: underline;
}
