.gallery {
	padding: 2rem 0;
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-auto-rows: minmax(auto, auto); */
	grid-gap: 1rem;
}

.item {
	position: relative;
	height: 100%;
	width: 100%;
}

.image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.delete {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 3rem;
	height: 3rem;
	color: #fff;
	background: #df3a40;
	border-radius: 3px;
	margin: 0.4rem;
	cursor: pointer;
	transition: all 0.2s ease;
	z-index: 10;
}

.delete:hover {
	background: #e95156;
}

/* @media (max-width: 700px) {
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
} */

@media (min-width: 571px) and (max-width: 900px) {
	.gallery {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 570px) {
	.gallery {
		grid-template-columns: 1fr;
		grid-auto-rows: 450px;
	}
}
