.header {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0;
}

.link {
	text-transform: uppercase;
	font-size: 1.3rem;
}

.ul {
	display: flex;
	flex-direction: column;
	text-align: right;
	line-height: 1.8rem;
}
