.contacts {
	position: relative;
	display: flex;
	flex-direction: row;
}

.info {
	padding: 2rem;
	width: 250px;
	background: #333;
	color: #fff;
}

.info h1 {
	padding-bottom: 1rem;
}

.info ul {
	display: flex;
	flex-direction: column;
	line-height: 2rem;
	font-size: 100%;
}

.info ul li a {
	text-decoration: underline;
	font-family: 'Playfair Display', serif;
	color: #fff;
}

.map {
	height: 600px;
	width: 100%;
	background: #333;
}

@media screen and (max-width: 700px) {
	.contacts {
		display: flex;
		flex-direction: column-reverse;
	}

	.info {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.info h1 {
		font-size: 1.3rem;
		padding-right: 2rem;
	}

	.map {
		height: 400px;
	}
}
